.navbar {
  background: #97de14;
}
.Quem-somos {
  background: #ebf747;
  color: black;
}
.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}
.parceiros {
  background: #f7cb47;
}
.serviços {
  background: #f7a747;
}
.bg-footer {
  background: black;
  color: white;
}
